@import '~antd/dist/antd.css';

.align-text-center {
  text-align: center;
}

.app-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.app-content {
  margin: 24px 16px 0;
}

.app-content > div {
  padding: 24px;
  background: #fff;
  height: 78vh;
}

.logo {
  margin: 24px;
  width: 130px;
  height: 102px;
  pointer-events: none;
  color: #fff;
  background-image: url(./logo.png);
}

.app-header {
  background-color: #fff;
  font-size: calc(10px + 2vmin);
}

.collapse-btn {
  margin-top: 80vh;
  padding: 0 8px;
}
