@import '~antd/dist/antd.css';

.align-text-center {
  text-align: center;
}

.app-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.sider-settings-header {
  font-weight: 600;
  font-size: 16px;
  margin: 12px 0 0 12px;
  color: #fff;
}

.app-content {
  margin: 24px 16px 0;
}

.app-content > div {
  padding: 24px;
  background: #fff;
  min-height: 78vh;
}

.logo {
  margin: 36px 24px 24px;
  width: 130px;
  height: 102px;
  pointer-events: none;
  color: #fff;
  background-image: url(./logo.png);
}

.app-header {
  background-color: #fff;
  font-size: calc(10px + 2vmin);
}

.collapse-btn {
  margin-top: 7vh;
  padding: 0 8px;
  z-index: 100;
}
